@charset "utf-8";
*{
  margin:0px;
  padding:0px;
  text-decoration:none;
  box-sizing:border-box;
  font-size:.14rem;
  font-style:normal;
  font-weight:normal;
}
ul,li{
  list-style:none;
}
html{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    font-size:625%;
}
img,div,body,html,ul,li,a{
 -webkit-touch-callout: none; 
 }
 input,button{
 outline:0;

 }
/*  input,textarea,button{
 -webkit-appearance: none;
 -moz-appearance: none ;
 appearance: none ;
} */
 button{
 cursor:pointer;
 }
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {
    color: #ccc;
}
@mixin num($h:100%,$w:100%){
    height: $h;
    width:$w;
}
html,body,.wrap{
    width: 100%;
    height: 100%;
    background: #818D9B;
}
.wrap{
    display: flex;
    flex-direction: column;
    overflow: hidden;
}
header{
    @include num(.5rem);
    display: flex;
    align-items: center;
    background: #393A3F;
    a{
        color:#fff;
        font-size: .16rem;
        &:nth-child(1),&:nth-child(3){
            padding:0 .1rem;
            i.icon{
                font-size: .18rem;
            }
        }
        &:nth-child(2){
            flex:1;
            border-left:1px solid #2F3035;
            padding-left: .1rem;
        }
    }
}
section{
    flex:1;
    overflow-y: scroll;
    .main{
        @include num(auto,90%);
        margin: .1rem auto;
        background: #fff;
        border-radius: .1rem;
        padding:.1rem;
        .top{
            @include num(auto,50%);
            margin:.05rem auto;
            text-align: center;
            img{
            @include num(auto,100%);
            margin:0 auto;            
            }
        }
        .inp{
            position: relative;
            margin:.14rem 0;
            input{
                @include num(auto,100%);
                border:none;
                background: #fff;
                border-bottom: 1px solid #ccc;
                padding:.1rem .34rem;
            }
            img{
                @include num(auto,.2rem);
                position: absolute;;
                left: 0.1rem;
                top:0;
            }
        }
        button{
            @include num(auto,100%);
            border-radius: .05rem;
            border:none;
            background:#2FBA77; 
            color:#fff;
            padding:.1rem 0;
            text-align: center;
        }
    }
}